		<form id="edit_buyer_form" action="/edit_buyer" method="post">  
			<input name="edit_item" type="hidden" value="<%=@edit_item%>">    
			<div class="row-fluid">   
				<div class="span8">
					<label for="edit_name"><%=Buyers_table_headers['buyer']%></label>
					<input type="text" id="edit_name" name="edit_name" class="span24" value="<%=@edit_data_hash['name']%>">  
				</div>
				<div class="span16">
					<label for="edit_fullname"><%=Buyers_table_headers['fullname']%></label>
					<input type="text" id="edit_fullname" name="edit_fullname" class="span24" value="<%=@edit_data_hash['fullname']%>">  
				</div>
			</div>
			<div class="row-fluid">   
				<div class="span8">
					<label for="edit_telephone"><%=Buyers_table_headers['telephone']%></label>
					<input type="text" id="edit_telephone" name="edit_telephone" class="span24" value="<%=@edit_data_hash['telephone']%>">  
				</div>
				<div class="span8">
					<label for="edit_city"><%=Buyers_table_headers['city']%></label>
					<input type="text" id="edit_city" name="edit_city" class="span24" value="<%=@edit_data_hash['city']%>">  
				</div>
				<div class="span8">
					<label for="edit_contact_person"><%=Buyers_table_headers['contact_person']%></label>
					<input type="text" id="edit_contact_person" name="edit_contact_person" class="span24" value="<%=@edit_data_hash['contact_person']%>">  
				</div>
			</div>
			<div class="row-fluid">
				<div class="span24">
					<label><%=Buyers_table_headers['buyer_notes']%></label>
					<textarea id="edit_notes" name="edit_notes" class="span24" rows="2"><%=@edit_data_hash['buyer_notes']%></textarea>
				</div>
			</div>
		</form>
