		<form id="edit_order_form" action="/edit_order" method="post" onsubmit="return validate_order_form()">
			<input name="edit_id" type="hidden" value="<%=@edit_item%>">  
			<div class="row-fluid">   
				<div class="span18 lightblue">
					<label>Виберіть покупця</label>
					<input id="edit_buyer" name="edit_buyer" type="text" class="input-block-level" autocomplete="off" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;" value="<%=@edit_data_hash['buyer']%>">
				</div>
				<div class="span6 lightblue">
					<label for="add_buyer_button_in_edit">Новий покупець</label>
					<a id="add_buyer_button_in_edit" class="btn span24">Додати</a>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span20 bgcolor">
					<label><%=Orders_table_headers['article']%></label>
					<input type="text" id="edit_article" name="edit_article" class="span24" value="<%=@edit_data_hash['article']%>">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['amount']%></label>
					<input type="text" id="edit_amount" name="edit_amount" class="span24" value="<%=@edit_data_hash['amount']%>">
				</div>
			</div>

			<div class="row-fluid">
				<div class="span4 lightblue">
					<label><%=Orders_table_headers['supplier']%></label>
					<input type="text" id="edit_supplier" name="edit_supplier" class="span24" value="<%=@edit_data_hash['supplier']%>">  
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['inprice']%></label>
					<input type="text" id="edit_inprice" name="edit_inprice" class="span24" value="<%=@edit_data_hash['inprice']%>">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['rate']%></label>
					<input type="text" id="edit_rate" name="edit_rate" class="span24" value="<%=@edit_data_hash['rate']%>">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['outprice']%></label>
					<input type="text" id="edit_outprice" name="edit_outprice" class="span24" value="<%=@edit_data_hash['outprice']%>">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['transfered']%></label>
					<input type="text" id="edit_transfered" name="edit_transfered" class="span24" value="<%=@edit_data_hash['transfered']%>">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['transferprice']%></label>
					<input type="text" id="edit_transferprice" name="edit_transferprice" class="span24" value="<%=@edit_data_hash['transferprice']%>">
				</div>

			</div>
			<div class="row-fluid">
				<div class="span5 bgcolor">
					<label><%=Orders_table_headers['status']%></label>
					<select id="edit_status" class="span24" name="edit_status">
						<option value="0" <%if @edit_data_hash['status'] == 0%>selected<%end%>><%=Status_values_array[0]%></option>
						<option value="1" <%if @edit_data_hash['status'] == 1%>selected<%end%>><%=Status_values_array[1]%></option>
						<option value="2" <%if @edit_data_hash['status'] == 2%>selected<%end%>><%=Status_values_array[2]%></option>
						<option value="3" <%if @edit_data_hash['status'] == 3%>selected<%end%>><%=Status_values_array[3]%></option>
					</select>
				</div>
				<div class="offset1 span6 bgcolor"><br>
					<div class="controls span24">
					<label class="checkbox ">
						<input type="checkbox" id="edit_payed_by_buyer" name="edit_payed_by_buyer" <%if @edit_data_hash['payed_by_buyer'] == "on"%>checked<%end%>> <%=Orders_table_headers['payed_by_buyer']%>
					</label>

					</div>
				</div>
				
				<div class="span6 bgcolor"><br>
					<div class="controls span24">
					<label class="checkbox ">
						<input type="checkbox" id="edit_payed_by_us" name="edit_payed_by_us" <%if @edit_data_hash['payed_by_us'] == "on"%>checked<%end%>> <%=Orders_table_headers['payed_by_us']%>
					</label>
					</div>
				</div>

				<div class="span6 bgcolor"><br>
					<label class="checkbox inline">
						<input type="checkbox" id="edit_cash_flag" name="edit_cash_flag" <%if @edit_data_hash['cash_flag'] == "on"%>checked<%end%>> <%=Orders_table_headers['cash_flag']%>
					</label>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 bgcolor">
					<label><%=Orders_table_headers['bank']%></label>
					<input type="text" id="edit_bank" name="edit_bank" class="span24" value="<%=@edit_data_hash['bank']%>">
				</div>
				<div class="span6 bgcolor">
					<label><%=Orders_table_headers['track_id']%></label>
					<input type="text" id="edit_track_id" name="edit_track_id" class="span24" value="<%=@edit_data_hash['track_id']%>">
				</div>
				<div class="span6 bgcolor">
					<label><%=Orders_table_headers['sent']%></label>
					<div class="row-fluid input-append date" id="datepicker_edit" data-date-format="dd/mm/yyyy">
						<input id="edit_sent" name="edit_sent" class="input-block-level span19" type="text" autocomplete="off" readonly placeholder="<%=@edit_data_hash['sent']%>">
						<div class="add-on">
							<div align="center"><i class="icon-calendar"></i></div>	
						</div>
					</div>	
				</div>
			</div>
		</form>
