<% content_for :head do %>
	<script type="text/javascript">

	$(document).ready(function() {

	
		$('#tyre_brand_typeahead').typeahead({
			source: <%=$tyre_brand_name.to_json%>,
			items: 20,
			updater: function(item){
				add_to_filter('brand',item);
				return "";
			}	
		});
		

		$('#tyre_family_typeahead').typeahead({
			source: <%=@tyre_family_help_array.to_json%>,
			items: 20,
			updater: function(item) {
				add_to_filter('family',item);
				return "";
			}	
		});

		$('#tyre_size_typeahead').typeahead({
			source: <%=$tyre_size.to_json%>,
			items: 20,
			updater: function(item) {
				add_to_filter('size',item);
				return "";
			}	
		});

		$('#tyre_diameter_typeahead').typeahead({
			source: <%=$tyre_diameter.to_json%>,
			items: 20,
			updater: function(item) {
				add_to_filter('diameter',item);
				return "";
			}	
		});
		
		$('#tyre_supplier_typeahead').typeahead({
			source: <%=$tyre_supplier.to_json%>,
			items: 20,
			updater: function(item) {
				add_to_filter('supplier',item);
				return "";
			}	
		});
		
		$('#tyre_remain_typeahead').typeahead({
			source: <%=Remain.to_json%>,
			items: 20,
			updater: function(item) {
				add_to_filter('remain',item);
				return "";
			}	
		});
		
	
		
		$('#datepicker').datepicker({
			format: 'dd/mm/yyyy',
			weekStart: 1,
			language: 'uk',
			todayHighlight: true
		}).on('changeDate', function(ev){$('#datepicker').datepicker('hide');});
		
		

		$('#tyre_date_typeahead').change(function(){
			var item = $('#tyre_date_typeahead').val();
			add_to_filter('date',item);
			$('#tyre_date_typeahead').val("");
		});
		
		$(".focus_element").keypress(function(event) {
			if ((event.which == 13) && ($(this).val() == "") && ($(this).attr("id") != "price_range_ok_button"))
			{	
				$("#search_button").hover();
				submit_filter_form();
			}
			else if ((event.which == 13 && $(this).attr("id") == "tyre_start_price_input"))
			{
				focus_next($(this).attr("id"));
			}
			else if ((event.which == 13 && $(this).attr("id") == "tyre_finish_price_input"))
			{
				focus_next($(this).attr("id"));
			}
		});
		
		$(".hidden_focus_element").keypress(function(event) {
			if ((event.which == 13) && ($(this).val() == "") && ($(this).attr("id") != "datepicker"))
			{	
				$("#search_button").hover();
				submit_filter_form();
			}
			else if ((event.which == 13 && $(this).attr("id") == "datepicker"))
			{
				$('#datepicker').datepicker('show');
				focus_next($(this).attr("id"));
			}

		});
		
		$('.season_group').on('click', function(e){
			var seasons_array = <%=Seasons.to_json%>;
			var button = $(this);
			var img_name= button.attr('id');
			var season_index = button.val();
			var season_name = seasons_array[season_index];
			button.attr('style','display:none;');
			add_to_filter('season',img_name,[season_index,season_name]);
		});
		
		<%if @select_sizes.empty? == false and @select_sizes != nil and @press_submit_button == true%>
			<%if @show_table == false%>
			$('#search_button').addClass("btn-primary");
			<%end%>
		<%end%>
		
		<%if @select_seasons.empty? == false and @select_seasons != nil%>
			<%@select_seasons.each_index do |season_index|%>
			$('button[id="<%=Seasons_images[@select_seasons[season_index].to_i]%>"]').attr('style','display:none;');
			<%end%>
		<%end%>
		
		$("#tyre_size_typeahead").focus();
		
		$(document).keydown(function(event) {
			if (($(".focus_element").is(":focus") == false) && ($(".hidden_focus_element").is(":focus") == false))
			{
				if (event.which == 13) 
				{
					$("#search_button").hover();
					submit_filter_form();
				}
			}
		});	


		$('div[id^="collapse_"]').on('show', function (e) 
		{
			var $collapse = $(this);
			var collapse_id =  $collapse.attr('id');
			if ($('table[id="table_' + collapse_id + '"]').parent().is('div') == false)
			{
				var brand_name = $('input[id^="hidden_brand_name_' + collapse_id + '"]').val();	
				url = "<%=@table_url%>&brand[]=" + brand_name;
				var table_href = "/table?" + url;
				$collapse.append('<table id="table_' + collapse_id + '" class="table table-bordered table-hover"></table>');
				var current_table = $('table[id="table_' + collapse_id + '"]');
			
				$.getJSON(table_href, function(data) 
				{
					var head_items = [];
					<%Header_data_field.each do |key, value|%>
						head_items.push('<th><%=value%></th>');
					<%end%>
					current_table.append('<tr>' + head_items.join(" ") + '</tr>')
					
					$.each(data, function(i, array_value) {
						var items = [];
						$.each(array_value, function(key, value) {
							if (key == "id") 
								id_value = value;
							else 
								items.push('<td>'+ value + '</td>');
						});
						if ($collapse.parent().find('.span2').find('input:checkbox').is(':checked'))
							current_table.append('<tr><td><input type="checkbox" name="checked_id[]" value="' + id_value + '" checked="checked"></td>' + items.join(" ") + '</tr>');
						else
							current_table.append('<tr><td><input type="checkbox" name="checked_id[]" value="' + id_value + '"></td>' + items.join(" ") + '</tr>');
					});	
				});
				
				
			$collapse.parents('.accordion-group').find('table').delegate("td", "click", function(e){
				checkbox_item = $(this).parents('tr').find('input:checkbox');
				if (checkbox_item.is(':checked'))
					checkbox_item.removeAttr("checked");
				else
					checkbox_item.attr("checked","checked");
				var checked_length = $collapse.parents('.accordion-group').find('table').find('input:checked').length;
				var checkbox_length = $collapse.parents('.accordion-group').find('table').find('input:checkbox').length;	
				if (checked_length < checkbox_length){
					$collapse.parents('.accordion-group').find('.span2').find('input:checkbox').removeAttr("checked");
					$collapse.parent().find('div[id^="quantity"]').html('<strong>'+ checked_length + ' з <span>' + checkbox_length +'</span></strong>');
				} else {
					$collapse.parents('.accordion-group').find('.span2').find('input:checkbox').attr("checked","checked");
					$collapse.parent().find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
				}
			});
			
			$collapse.parents('.accordion-group').find('table').delegate("input:checkbox", "click", function(e){
				checkbox = $(this);
				if (checkbox.is(':checked'))
					checkbox.removeAttr("checked");
				else
					checkbox.attr("checked","checked");
					
				var checked_length = $collapse.parents('.accordion-group').find('table').find('input:checked').length;
				var checkbox_length = $collapse.parents('.accordion-group').find('table').find('input:checkbox').length;
				if (checked_length < checkbox_length){
					$collapse.parents('.accordion-group').find('.span2').find('input:checkbox').removeAttr("checked");
					$collapse.parent().find('div[id^="quantity"]').html('<strong>'+ checked_length + ' з <span>' + checkbox_length +'</span></strong>');
				} else {
					$collapse.parents('.accordion-group').find('.span2').find('input:checkbox').attr("checked","checked");
					$collapse.parent().find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
				}	
			});
			}
			$('.accordion-group').delegate('input[name^="checked_brand"]','click', function (e) {
				var checkbox_length = $(this).parents('.accordion-group').find('div[id^="quantity"]').find('span').text();
				if ($(this).is(':checked'))	{
					$(this).parents('.accordion-group').find('table').find('input:checkbox').attr("checked","checked");
					$(this).parents('.accordion-group').find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
				} else {
					$(this).parents('.accordion-group').find('table').find('input:checkbox').removeAttr("checked");
					$(this).parents('.accordion-group').find('div[id^="quantity"]').html('<strong>0 з <span>' + checkbox_length +'</span></strong>');
				}
			});
			
			
    	});
	
		$('.accordion-group').on('click', 'input[name^="checked_brand"]', function (e) {
			var checkbox_length = $(this).parents('.accordion-group').find('div[id^="quantity"]').find('span').text();
			if ($(this).is(':checked'))
				$(this).parents('.accordion-group').find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
			else 
				$(this).parents('.accordion-group').find('div[id^="quantity"]').html('<strong>0 з <span>' + checkbox_length +'</span></strong>');
			if ($('input[name^="checked_brand"]:checked').length < $('input[name^="checked_brand"]').length){
				$('#checked_all').removeAttr("checked");
			} else {
				$('#checked_all').attr("checked","checked");
			}		
		});
				
		$('.span2').delegate('#checked_all', 'click', function (e) {
			if ($(this).is(':checked'))
			{
				$('input[name^="checked_brand"]').attr('checked','checked');
				$('input[name^="checked_id"]').attr('checked','checked');
			}
			else
			{
				$('input[name^="checked_brand"]').removeAttr('checked');
				$('input[name^="checked_id"]').removeAttr('checked');
			}
			$('.accordion-group').each(function (index, domEle) {
				brand_check = $(domEle).find('.well_checkbox').find('input:checkbox');
				var checkbox_length = brand_check.parents('.accordion-group').find('div[id^="quantity"]').find('span').text();
				if (brand_check.is(':checked'))
					brand_check.parents('.accordion-group').find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
				else 
					brand_check.parents('.accordion-group').find('div[id^="quantity"]').html('<strong>0 з <span>' + checkbox_length +'</span></strong>');
			});
		});
		
		$('.accordion-group').each(function (index, domEle) {
			brand_check = $(domEle).find('.well_checkbox').find('input:checkbox');
			var checkbox_length = brand_check.parents('.accordion-group').find('div[id^="quantity"]').find('span').text();
			if (brand_check.is(':checked'))
				brand_check.parents('.accordion-group').find('div[id^="quantity"]').html('<strong>'+ checkbox_length + ' з <span>' + checkbox_length + '</span></strong>');
			else 
				brand_check.parents('.accordion-group').find('div[id^="quantity"]').html('<strong>0 з <span>' + checkbox_length +'</span></strong>');
		});

		$('body').attr('style','margin-top:'+$(".navbar").outerHeight(true)+'px;');
		$('#filter_form').attr('style','padding-top: 10px; margin-bottom: 0px; padding-bottom: 11px;');
		set_filter_form_height();
		
		
		<%if @admin_filter_page == true%>
		$('.nav').delegate('#advanced_filter','click', function (e) {

			if ($("#hidden_filter_items").attr("hidden") == 'hidden')
			{
				$("#hidden_filter_items").removeAttr("hidden");
				$("#advanced_filter").text("Спрощений фільтр");
				$('input[id="tyre_brand_typeahead"]').focus();
				var hidden_inputs = $('.hidden_focus_element');
				for (index=0;index<hidden_inputs.length;index++)
				{	
					hidden_inputs.eq(index).attr("tabindex", index+10);
				}
				$('#search_button').attr("tabindex", "14");
				$('#filter_reset').attr("tabindex", "15");
				
			}
			else
			{
				$("#hidden_filter_items").attr("hidden","hidden");
				$("#advanced_filter").text("Розширений фільтр");
				var hidden_inputs = $('.hidden_focus_element');
				for (index=0;index<hidden_inputs.length;index++)
				{	
					hidden_inputs.eq(index).removeAttr("tabindex");
				}
				$('#search_button').attr("tabindex", "10");
				$('#filter_reset').attr("tabindex", "11");
			}	
			set_filter_form_height();
			
		});
		<%end%>
		
		$('#price_range_ok_button').click(function(e) {
			var start_price = $('#tyre_start_price_input').val();
			var finish_price = $('#tyre_finish_price_input').val();
			if (start_price == "" && finish_price == "")
			{
				alert("Не введено жодної ціни.");
				return false;
			}
			else if ((start_price.match(/[^0-9]/g)) || (finish_price.match(/[^0-9]/g)))
			{
				alert("Діапазон цін повинен містити тільки цифри.");
				return false;	
			}
			else if (parseInt(start_price) > parseInt(finish_price))
			{
				alert("Початкова ціна не може перевищувати кінцеву.");
				return false;	
			}
			else
			{	
				var value = ""
				if (start_price != "")
					value += "від " + start_price
				if (finish_price != "")
					value += " до " + finish_price
				value += " грн."
				$('#block_price_range').parent().find('div').not('div[id="block_price_range"]').replaceWith('<div id="remove_price_range" class="row_fluid"><div class="span22 wrap_value">'+ value +'</div><div class="span2"><a onclick=remove_selected("remove_price_range","price_range")><i class="icon-remove"></i></a></div><input name="tyre_start_price_selected" type="hidden" value="' + start_price + '"><input name="tyre_finish_price_selected" type="hidden" value="' + finish_price + '"></div>');
				$('#tyre_start_price_input').val("");
				$('#tyre_finish_price_input').val("");
				focus_next($(this).attr("id"));	
			}
			
		});

		
		$('.container').on('change','#filter_form', function(){
			$('#search_button').addClass("btn-primary");
			if ($('#block_size').parent().find('div[id^="remove_"]').length == 0)
			{
				$('#select_items_form').html("<div id='message_id' class='alert alert-info' align='center'><strong>Для пошуку даних обов'язково введіть параметр Ширина/Висота</strong></div>");
			} else {	
				$('#select_items_form').html('<div id="message_id" class="alert alert-info" align="center"><strong>Для відображення елементів натисніть ПОШУК.	</strong></div>');
			}
		});
			
		$('.container').on('click','.season_group', function(){
			$('#search_button').addClass("btn-primary");
			if ($('#block_size').parent().find('div[id^="remove_"]').length == 0)
			{
				$('#select_items_form').html("<div id='message_id' class='alert alert-info' align='center'><strong>Для пошуку даних обов'язково введіть параметр Ширина/Висота</strong></div>");
			} else {	
				$('#select_items_form').html('<div id="message_id" class="alert alert-info" align="center"><strong>Для відображення елементів натисніть ПОШУК.	</strong></div>');
			}
			focus_next($(this).attr("id"));
		});
			
	});
	
		
		function set_filter_form_height() {
			$('#select_items_form').attr('style','margin-top:'+$("#filter_form").outerHeight(true)+'px;');
			$('.accordion').attr('style','padding-top:'+$(".fixed2").outerHeight(true)+'px; margin-top:-1px;');
		}
		
		function focus_next(item_id){
			var current_tabindex = $('[id=' + item_id + ']').attr('tabindex');
			$('[tabindex=' + (parseInt(current_tabindex) + 1) + ']').focus();
		}
		
	
	
		function check_typeahead(id,array){
			for (var i=0;i<array.length;i++){
				if (array[i] == item){
					add_to_filter();
				} else {
					return false
				}
			}
		}
	
		function send_form(){
			$("#filter_form").submit();
		}

		function submit_filter_form(){	
			$("#press_submit_button").attr("value","true");
			send_form();
		}
		
		function reset_filter_form(){	
			$("#press_reset_button").attr("value","true");
			send_form();
		}

		function change_families(){
			var brand = new Array();;
			$("#tyre_brands").find(':checked').each(function () {
				brand.push($(this).val());
			});
			$.get(
				"/models",
				{tyre_brand: brand},
				function(data) {$('#tyre_families').html(data)}
			);
		}  

		function add_to_filter(id_part,value,season_index_name){  
			
			if (id_part != "season")
				$('input[id="tyre_' + id_part + '_typeahead"]').attr("value",value);
			
			if (id_part == 'size')
			{	
				$('#search_button').removeClass("disabled");
				$('#search_button').attr("onclick","submit_filter_form()");
			}
			var index = $('div[id=block_' + id_part + ']').parent().find('div[id^="remove_"]').length;
			
			if (id_part == "date" || id_part == "remain")
			{ 	
				$('div[id="block_' + id_part + '"]').parent().find('div').not('div[id="block_' + id_part + '"]').replaceWith('<div id="remove_' + id_part + '" class="row_fluid"><div class="span22 wrap_value">'+ value +'</div><div class="span2"><a onclick=remove_selected("remove_' + id_part + '","' + id_part + '")><i class="icon-remove"></i></a></div><input name="tyre_' + id_part + '_selected" type="hidden" value="' + value + '"></div>');
			} else if (id_part == "season") {
				$('div[id="block_' + id_part + '"]').parent().find('div[name="no_' + id_part + '"]').remove();
				$('div[id="block_' + id_part + '"]').parent().find('div.filter_value:last').after('<div id="remove_' + id_part + '_' + index + '" class="filter_value row-fluid"><div class="span6" style="min-height:0px;"><img src="/images/' + value + '.png" class="image_size_filter"></div><div class="span16 wrap_value" style="min-height:0px;">'+ season_index_name[1] +'</div><div class="span2"><a onclick=remove_selected("remove_' + id_part + '_' + index + '","' + id_part + '","' + value + '")><i class="icon-remove"></i></a></div><input name="tyre_' + id_part + '_selected[]" type="hidden" value="' + season_index_name[0] + '"></div>');
			} else {
					$('div[id="block_' + id_part + '"]').parent().find('div[name="no_' + id_part + '"]').remove();
					$('div[id="block_' + id_part + '"]').parent().find('div.filter_value:last').after('<div id="remove_' + id_part + '_' + index + '" class="row_fluid filter_value"><div class="span22 wrap_value">'+ value +'</div><div class="span2"><a onclick=remove_selected("remove_' + id_part + '_' + index + '","' + id_part + '")><i class="icon-remove"></i></a></div><input name="tyre_' + id_part + '_selected[]" type="hidden" value="' + value + '"></div>');
			}

			set_filter_form_height();
			if (id_part != "season")
				focus_next('tyre_' + id_part + '_typeahead');

		}

		function remove_selected(remove_name,id_part,season_name){	
			$('div[id="' + remove_name + '"]').remove();
			if (id_part == 'season')
				$('button[id="'+season_name+'"]').removeAttr('style');
			$('#search_button').addClass("btn-primary");
			if ($('#block_size').parent().find('div[id^="remove_"]').length == 0)
				$('#select_items_form').html("<div id='message_id' class='alert alert-info' align='center'><strong>Для пошуку даних обов'язково введіть параметр Ширина/Висота</strong></div>");
			else	
				$('#select_items_form').html('<div id="message_id" class="alert alert-info" align="center"><strong>Для відображення елементів натисніть ПОШУК.	</strong></div>');
					
			if ($('div[id="block_' + id_part + '"]').parent().find('div[id^="remove_"]').length == 0)
			{
				if (id_part == 'size')
				{
					$('div[id="block_' + id_part + '"]').parent().find('div').last().after('<div id="no_size" name="no_size" align="center">не введено</div>');
					$('#search_button').addClass("disabled");
					$('#search_button').removeAttr("onclick");
				}	
				else
					$('div[id="block_' + id_part + '"]').parent().find('div').last().after('<div name="no_' + id_part + '" align="center">всі</div>');	
			}	
			set_filter_form_height();
		}

		function setHeight(){
			var value_height = $(window).height() - $("#filter_form").outerHeight(true) - 100;
			return value_height
		}

		function setWidth(){
			return $("#content").width() - 10;
		}
		
		function submit_show_items(){
			$("#select_items_form").submit();
		}
		
		function validate_filter_form() {

			if (($('#tyre_start_price_input').val().match(/[^0-9]/g)) || ($('#tyre_finish_price_input').val().match(/[^0-9]/g)))
			{
				alert("Діапазон цін повинен містити тільки цифри.");
				return false;	
			}
			else if (parseInt($('#tyre_start_price_input').val()) > parseInt($('#tyre_finish_price_input').val()))
			{
				alert("Початкова ціна не може перевищувати кінцеву.");
				return false;	
			}
			else
			{
				submit_filter_form();
			}	
		}
	
	</script>
	
	<style>
	
		.well_family {
			background-color: #FFFFFF;
			border: 1px solid #A1DBFF ;
			border-radius: 4px 4px 4px 4px;
			margin-bottom: 10px;
			min-height: 10px;
			padding: 6px;
		}
		.well_checkbox {
			background-color: #FFFFFF;
			border: 1px solid #FFFFFF ;
			border-radius: 4px 4px 4px 4px;
			min-height: 10px;
			padding: 6px;
		}
		.well_family_head {
			background: #f0f9ff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
			border: 1px solid #E3E3E3;
			border-radius: 4px 4px 4px 4px;
			margin: -6px;
			margin-bottom: 10px;
			min-height: 10px;
			padding: 4px;
		}
		button strong{
			letter-spacing: 5px;
			text-transform: uppercase;
		}
		#data_table	{
			font-size: 12px;
		}

		.flexigrid div.pDiv2 {
			padding-left: 15%;
			font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
			font-size: 12px;
		}
		.wrap_value{ 
			white-space: nowrap; 
			overflow: hidden; 
			text-overflow: ellipsis; 
	   	}
	   	.rp_dropdown
		{
			height: 25px;
			width: 70px;
			padding: 2px;
		}
	   	.span3 { margin-left: 1%; }

		.row-fluid .span21, .row-fluid .span22 {
			min-height: 0px;
		}
		.row-fluid .span3, .row-fluid .span2{
			min-height: 0px;
			cursor: pointer;
		}
		.span4 .input-append{
			cursor: pointer;
		}
		 
		.fixed {
			display:block; 
			position:fixed;
			background:#fff; 
			margin:0 auto; 
			z-index:102;
		}
		
		.fixed2 {
			display:block; 
			border:1px solid #FFFFFF;
			position:fixed;
			background:#fff; 
			margin:0 auto; 
			z-index:101;
		}
		
		#select_items_form{background-color: #FFFFFF;}
		
		.image_size {
			height: 19px;
			width: 19px;
			overflow: auto;
			padding: 0px 10px;
		}
		
		.image_size_filter {
			height: 16px;
			width: 16px;
			overflow: auto;
		}
		
		#advanced_filter{
			cursor: pointer;
		}
		
		.btn-margin{
			margin: 5px 0px;
		}
		
	</style>
<%end%>
	
	<div class="fixed span24"> 
	<form method="GET" id="filter_form" action="">
		<div class="row-fluid">
			<div class="span20">
				<div class="row-fluid">
					<div class="span5 well_family">
						<div id="block_size" class="well_family_head filter_value" align="center">
							<strong>Ширина/Висота</strong>
						</div>
						<%if @select_sizes.empty? == false and @select_sizes != nil%>
							<%@select_sizes.each_index do |size_index|%>
								<div id="<%='remove_size_'+size_index.to_s%>" class="row_fluid filter_value">
									<div class="span22 wrap_value">
										<%=@select_sizes[size_index]%>	
									</div>
									<div class="span2">
										<a onclick="remove_selected('<%='remove_size_'+size_index.to_s%>','size')"><i class="icon-remove"></i></a>
									</div>
									<input name="tyre_size_selected[]" type="hidden" value="<%=@select_sizes[size_index].gsub(/\"/, "&quot;")%>">
								</div>
							<%end%>
						<%else%>
							<div id="no_size" name="no_size" align="center">не введено</div>	
						<%end%>
					</div>
			
					<div class="span5 well_family">
						<div id="block_diameter" class="well_family_head filter_value" align="center">
							<strong>Діаметр</strong>
						</div>
						<%if @select_diameters.empty? == false and @select_diameters != nil%>
							<%@select_diameters.each_index do |diameter_index|%>
								<div id="<%='remove_diameter_'+diameter_index.to_s%>" class="row_fluid filter_value">
									<div class="span22 wrap_value">
										<%=@select_diameters[diameter_index]%>	
									</div>
									<div class="span2">
										<a onclick="remove_selected('<%='remove_diameter_'+diameter_index.to_s%>','diameter')"><i class="icon-remove"></i></a>
									</div>
									<input name="tyre_diameter_selected[]" type="hidden" value="<%=@select_diameters[diameter_index].gsub(/\"/, "&quot;")%>">
								</div>
							<%end%>
						<%else%>
							<div name="no_diameter" align="center">всі</div>	
						<%end%>
					</div>
					<div class="span5 well_family">
						<div id="block_season" class="well_family_head filter_value" align="center">
							<strong>Сезон</strong>
						</div>
						<%if @select_seasons.empty? == false and @select_seasons != nil%>
							<%@select_seasons.each_index do |season_index|%>
								<div id="<%='remove_season_'+season_index.to_s%>" class="filter_value row-fluid">
									<div class="span6" style="min-height:0px;">
										<img src="/images/<%=Seasons_images[@select_seasons[season_index].to_i]%>.png" class="image_size_filter">
									</div>
									<div class="span16 wrap_value" style="min-height:0px;"><%=Seasons[@select_seasons[season_index].to_i]%></div>
									<div class="span2">
										<a onclick="remove_selected('<%='remove_season_'+season_index.to_s%>','season','<%=Seasons_images[@select_seasons[season_index].to_i]%>')"><i class="icon-remove"></i></a>
									</div>
									<input name="tyre_season_selected[]" type="hidden" value="<%=@select_seasons[season_index].gsub(/\"/, "&quot;")%>">
								</div>		
						
							<%end%>
						<%else%>
							<div name="no_season" align="center">всі</div>	
						<%end%>
					</div>
			
					<div class="span4 well_family">
						<div id="block_remain" class="well_family_head" align="center">
							<strong>Кількість >=</strong>
						</div>
						<%if @select_remain.empty? == false and @select_remain != nil%>
								<div id="remove_remain" class="row_fluid">
									<div class="span22 wrap_value">
										<%=@select_remain%>	
									</div>
									<div class="span2">
										<a onclick="remove_selected('remove_remain','remain')"><i class="icon-remove"></i></a>
									</div>
									<input name="tyre_remain_selected" type="hidden" value="<%=@select_remain%>">
								</div>
						<%else%>
							<div name="no_remain" align="center">всі</div>	
						<%end%>
					</div>
					<div class="span5 well_family">
						<div id="block_brand" class="well_family_head filter_value" align="center">
							<strong>Виробники</strong>
						</div>
						<%if @select_brands.empty? == false and @select_brands != nil%>
							<%@select_brands.each_index do |brand_index|%>
							<div id="<%='remove_brand_'+brand_index.to_s%>" class="row_fluid filter_value">
								<div class="span22 wrap_value">
									<%=@select_brands[brand_index]%>	
								</div>
								<div class="span2">
									<a onclick="remove_selected('<%='remove_brand_'+brand_index.to_s%>','brand')"><i class="icon-remove"></i></a>
								</div>
								<input name="tyre_brand_selected[]" type="hidden" value="<%=@select_brands[brand_index].gsub(/\"/, "&quot;")%>"><br>
							</div>
							<%end%>
						<%else%>
							<div name="no_brand" align="center">всі</div>	
						<%end%>
				</div>
					
				</div>
				<div class="row-fluid">
					<div class="span5">
						<input id="tyre_size_typeahead" name="tyre_size_typeahead" type="text" class="input-block-level focus_element" autocomplete="off" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;" tabindex="1">
					</div>
					<div class="span5">
						<input id="tyre_diameter_typeahead" name="tyre_diameter_typeahead" type="text" class="input-block-level focus_element" autocomplete="off" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;" tabindex="2">
					</div>
					<div class="span5" align="center">
						<div class="btn-group">
							<button id="summer" type="button" class="btn season_group focus_element" value="1" tabindex="3"><img src="/images/summer.png" class="image_size"/></button>
							<button id="winter" type="button" class="btn season_group focus_element" value="2" tabindex="4"><img src="/images/winter.png" class="image_size"/></button>
							<button id="all_season" type="button" class="btn season_group  focus_element" value="3" tabindex="5"><img src="/images/all_season.png" class="image_size"/></button>
						</div>
					</div>
					<div class="span4">
						<input id="tyre_remain_typeahead" name="tyre_remain_typeahead" type="text" class="input-block-level focus_element" autocomplete="off" data-provide="typeahead" placeholder="Вкажіть кількість..." style="font-size: 12px;" tabindex="6">
					</div>
					<div class="span5">
						<input id="tyre_brand_typeahead" name="tyre_brand_typeahead" class="input-block-level focus_element" type="text" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;">
					</div>
					
				
				</div>

				<div id="hidden_filter_items" hidden="hidden">
					<div class="row-fluid">

						<div class="span5 well_family">
							<div id="block_family" class="well_family_head filter_value" align="center">
								<strong>Марки</strong>
							</div>
							<%if @select_families.empty? == false and @select_families != nil%>
								<%@select_families.each_index do |family_index|%>
								<div id="<%='remove_family_'+family_index.to_s%>" class="row_fluid filter_value">
									<div class="span22 wrap_value">
										<%=@select_families[family_index]%>	
									</div>
									<div class="span2">
										<a onclick="remove_selected('<%='remove_family_'+family_index.to_s%>','family')"><i class="icon-remove"></i></a>
										<input name="tyre_family_selected[]" type="hidden" value="<%=@select_families[family_index].gsub(/\"/, "&quot;")%>">
									</div>
								</div>
								<%end%>
							<%else%>
								<div name="no_family" align="center">всі</div>	
							<%end%>
						</div>
						<div class="span5 well_family">
							<div id="block_supplier" class="well_family_head  filter_value" align="center">
								<strong>Склад</strong>
							</div>
							<%if @select_suppliers.empty? == false and @select_suppliers != nil%>
								<%@select_suppliers.each_index do |supplier_index|%>
									<div id="<%='remove_supplier_'+supplier_index.to_s%>" class="row_fluid filter_value">
										<div class="span22 wrap_value">
											<%=@select_suppliers[supplier_index]%>	
										</div>
										<div class="span2">
											<a onclick="remove_selected('<%='remove_supplier_'+supplier_index.to_s%>','supplier')"><i class="icon-remove"></i></a>
										</div>
										<input name="tyre_supplier_selected[]" type="hidden" value="<%=@select_suppliers[supplier_index].gsub(/\"/, "&quot;")%>">
									</div>
								<%end%>
							<%else%>
								<div name="no_supplier" align="center">всі</div>	
							<%end%>
						</div>
						<div class="span5 well_family">
							<div id="block_price_range" class="well_family_head" align="center">
								<strong>Діапазон цін</strong>
							</div>
							<%if (@select_start_price.empty? == false and @select_start_price != nil) or (@select_finish_price.empty? == false and @select_finish_price != nil)%>
									<div id="remove_price_range" class="row_fluid">
										<div class="span22 wrap_value">
											<%if @select_start_price != ""%>від <%=@select_start_price%><%end%> 
											<%if @select_finish_price !=  ""%>до <%=@select_finish_price%><%end%> грн.
										</div>
										<div class="span2">
											<a onclick="remove_selected('remove_price_range','price_range')"><i class="icon-remove"></i></a>
										</div>
										<input name="tyre_start_price_selected" type="hidden" value="<%=@select_start_price%>">
										<input name="tyre_finish_price_selected" type="hidden" value="<%=@select_finish_price%>">
									</div>
							<%else%>
								<div name="no_price_range" align="center">всі</div>	
							<%end%>
						</div>
						<div class="span4 well_family">
							<div id="block_date" class="well_family_head" align="center">
								<strong>Прайс від дати</strong>
							</div>
							<%if @select_date.empty? == false and @select_date != nil%>
									<div id="remove_date" class="row_fluid">
										<div class="span22 wrap_value">
											<%=@select_date%>	
										</div>
										<div class="span2">
											<a onclick="remove_selected('remove_date','date')"><i class="icon-remove"></i></a>
										</div>
										<input name="tyre_date_selected" type="hidden" value="<%=@select_date%>">
									</div>
							<%else%>
								<div name="no_date" align="center">всі</div>	
							<%end%>
						</div>

					</div>	
					<div class="row-fluid">
						<div class="span5">
							<input id="tyre_family_typeahead" name="tyre_family_typeahead" class="input-block-level hidden_focus_element" autocomplete="off" type="text" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;">
						</div>
						<div class="span5">
							<input id="tyre_supplier_typeahead" name="tyre_supplier_typeahead" type="text" class="input-block-level hidden_focus_element" autocomplete="off" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;">
						</div>
						<div class="span5">
							<div class="row-fluid">
								<div class="span9">
									<input id="tyre_start_price_input" name="tyre_start_price_input" type="text" autocomplete="off" class="input-block-level hidden_focus_element" style="font-size: 12px;" placeholder="від..." tabindex="7">
								</div>
								<div class="span2" align="center"><i class="icon-minus"></i></div>
								<div class="span9">	
									<input id="tyre_finish_price_input" name="tyre_finish_price_input" type="text" autocomplete="off" class="input-block-level hidden_focus_element" style="font-size: 12px;" placeholder="до..." tabindex="8">
								</div>
								<div class="span4" align="center"><button id="price_range_ok_button" class="btn input-block-level hidden_focus_element" type="button" tabindex="9"><i class="icon-ok"></i></button></div>
							</div>
						</div>
						<div class="span4">
							<div class="row-fluid input-append date hidden_focus_element" id="datepicker"  data-date-format="dd/mm/yyyy">
								<input id="tyre_date_typeahead" name="tyre_date_typeahead" class="input-block-level span20 " type="text" placeholder="Оберіть дату..." autocomplete="off" style="font-size: 12px;" readonly>
								<div class="add-on">
									<div align="center"><i class="icon-calendar"></i></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="span4">		
				<div class="row-fluid">
					<%if @select_sizes.empty? == false and @select_sizes != nil%>
					<button id="search_button" class="btn btn-large btn-block btn-margin <%=@search_primary_btn%> focus_element" type="button" onclick="validate_filter_form()" tabindex="10"><strong>Пошук</strong></button>
					<%else%>
					<button id="search_button" class="btn btn-large btn-block btn-margin <%=@search_primary_btn%> disabled focus_element" type="button" tabindex="10"><strong>Пошук</strong></button>
					<%end%>	
				</div>
				<div class="row-fluid">
					<button id="filter_reset" class="btn btn-large btn-block btn-margin focus_element" type="button" onclick="reset_filter_form()" tabindex="11">Очистити фільтри</button>
				</div>
			</div>
		</div>	
				
		<input id="press_submit_button" name="press_submit_button" type="hidden" value="false">
		<input id="press_reset_button" name="press_reset_button" type="hidden" value="false">
	
		</form>
	</div>	

	
		<form id="select_items_form" method="POST" action="/selected_items">
		<%if @select_sizes.empty? == false and @select_sizes != nil and @press_submit_button == true%>
			<div id="show_data_table">
			<%if @show_table == true%>
				<div class="span24 fixed2">
				<div class="row-fluid">
					<div class="span2" align="center"><div class="well_family">	
						<input id="checked_all" type="checkbox" checked="checked">
					</div></div>
					<div class="span22">						
						<button id="show_items_submit" class="btn btn-block <%=@show_primary_btn%>" type="button" onclick="submit_show_items()"><strong>Показати всі вибрані елементи</strong></button>	
					</div>
				</div>
				</div>	
				<div class="accordion" id="accordion2">
				<%i=0%>
				<%@select_brand_price_hash.each_pair do |brand, price|%>	
				<div class="accordion-group">
					<div class="row-fluid">
						<div class="span2" align="center">
							<div class="well_checkbox">	
								<input type="checkbox" name="checked_brand[]" value="<%=brand%>" checked="checked">
							</div>
						</div>
						<div class="span22">
							<div class="row-fluid">
							<div class="accordion-heading">
								<input id="hidden_brand_name_collapse_<%=i%>" type="hidden" value="<%=CGI::escape(brand)%>">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_<%=i%>">
									<div class="span6"><strong><%=brand.to_s%></strong></div>
								<%if price[0] == price[2]%>
									<div class="span5"><strong><%=price[0].ceil.to_s + " грн."%></strong></div>
								<%else%>
									<div class="span5"><strong><%=price[0].ceil.to_s + " - " + price[1].ceil.to_s + " грн."%></strong></div>
								<%end%>	
									<div class="span5" id="quantity<%=i%>"><strong><%=price[3].to_s%> з <span><%=price[3].to_s%></span></strong></div>
									<div class="span8"><strong><%=price[2].to_s.gsub(/,/,', ')%></strong></div>
								</a>	
							</div>
							</div>
						</div>		
					</div>
					<div style="height: 0px;" id="collapse_<%=i%>" class="accordion-body collapse">
						<div class="accordion-inner"></div>
					</div>
				</div>
					<%i+=1%>	
				<%end%>
			</div>	
				<%if @select_sizes.empty? == false and @select_sizes != nil%>
					<%@select_sizes.each_index do |size_index|%>
							<input name="size[]" type="hidden" value="<%=@select_sizes[size_index].gsub(/\"/, "&quot;")%>">
					<%end%>
				<%end%>
				<%if @select_diameters.empty? == false and @select_diameters != nil%>
					<%@select_diameters.each_index do |diameter_index|%>
						<input name="diameter[]" type="hidden" value="<%=@select_diameters[diameter_index].gsub(/\"/, "&quot;")%>">
					<%end%>
				<%end%>
				<%if @select_suppliers.empty? == false and @select_suppliers != nil%>
					<%@select_suppliers.each_index do |supplier_index|%>
						<input name="supplier[]" type="hidden" value="<%=@select_suppliers[supplier_index].gsub(/\"/, "&quot;")%>">
					<%end%>
				<%end%>
				<%if @select_seasons.empty? == false and @select_seasons != nil%>
					<%@select_seasons.each_index do |season_index|%>
						<input name="season[]" type="hidden" value="<%=@select_seasons[season_index].gsub(/\"/, "&quot;")%>">
					<%end%>
				<%end%>
				<%if @select_remain.empty? == false and @select_remain != nil%>
						<input name="remain" type="hidden" value="<%=@select_remain%>">	
				<%end%>
				<%if @select_start_price.empty? == false and @select_start_price != nil%>
						<input name="start_price" type="hidden" value="<%=@select_start_price%>">	
				<%end%>
				<%if @select_finish_price.empty? == false and @select_finish_price != nil%>
						<input name="finish_price" type="hidden" value="<%=@select_finish_price%>">	
				<%end%>
				<%if @select_brands.empty? == false and @select_brands != nil%>
					<%@select_brands.each_index do |brand_index|%>
						<input name="brand[]" type="hidden" value="<%=@select_brands[brand_index].gsub(/\"/, "&quot;")%>"><br>
					<%end%>
				<%end%>
				<%if @select_families.empty? == false and @select_families != nil%>
					<%@select_families.each_index do |family_index|%>
						<input name="family[]" type="hidden" value="<%=@select_families[family_index].gsub(/\"/, "&quot;")%>">
					<%end%>
				<%end%>
				<%if @select_date.empty? == false and @select_date != nil%>
					<input name="date" type="hidden" value="<%=@select_date%>">	
				<%end%>
			<%else%>
				<div class="alert alert-info" align="center">
					<strong><%=@message_no_data%></strong>
				</div>
			<%end%>
			</div>
		<%else%>
			<div id="message_id" class="alert alert-info" align="center">
				<strong><%=@message%></strong>
    		</div>
		<%end%>
		</form>

