<% content_for :head do %>
	<script type="text/javascript">
	$(document).ready(function() {
		<%if (@show_modal == "")%>
		$("#orders_table").flexigrid({
			url: '/orders_table',
			dataType: "json",
			colModel : [
				{display: "<%=Orders_table_headers_cut['issued']%>", name : 'issued', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['buyer']%>", name : 'buyer', width : 200, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['article']%>", name : 'article', width : 200, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['amount']%>", name : 'amount', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['supplier']%>", name : 'supplier', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['reserve_date']%>", name : 'reserve_date', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['sent']%>", name : 'sent', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['expected_receive_date']%>", name : 'expected_receive_date', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['receive_date']%>", name : 'receive_date', width : 50, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['post_name']%>", name : 'post_name', width : 80, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['track_id']%>", name : 'track_id', width : 80, sortable : true, align: 'left'},
				{display: "<%=Orders_table_headers_cut['specification']%>", name : 'specification', width : 80, sortable : true, align: 'left'}
				],
			buttons : [
				{name: 'Додати нове', bimage: '/images/add-icon.png', onpress: add_new_order},
				{separator: true},
				{name: 'Видалити', bimage: '/images/delete-icon.png', onpress: delete_selected_orders},
				{separator: true},
				{name: 'Редагувати', bimage: '/images/edit-icon.png', onpress: edit_order_in_table},
				{separator: true},
				{name: 'Зберегти у Excel-файл', bimage: '/images/excel-icon.png', onpress: excel_button_click},
				{separator: true},
				{name: 'Переглянути всі замовлення', bclass: 'view_all_orders_button', bimage: '/images/orders-icon.png', onpress: view_all_orders},
				{separator: true},
				{name: 'Переглянути список покупців', bimage: '/images/users-icon.png', onpress: buyer_list},
				{separator: true}
				],
			params: <%=@view_all_orders.to_json%>,	
			sortname: "issued",
			sortorder: "asc",
			usepager: true,
			useRp: true,
			rp: 30,
			showTableToggleBtn: true,
			onSuccess: error_date(),
			width: 200,
			height: 660

		});
		
		
		<%end%>
		

		
		<%if @order_item != ""%>
			$('#add_order_link').click();
			$('#input_article').val(<%=@order_hash["article"].to_json%>);
			$('#input_supplier').val(<%=@order_hash["supplier"].to_json%>);
			$('#input_inprice').val(<%=@order_hash["sp"].to_json%>);
			$('#input_outprice').val(<%=@order_hash["bp"].to_json%>);
			$('#shown_modal').val("show_add_modal");
		<%end%>
		
		
		
		<%if @view_all_orders[0]["value"] == "true"%>
				$(".view_all_orders_button").text("Переглянути неотримані замовлення");
		<%else%>
				$(".view_all_orders_button").text("Переглянути всі замовлення");
		<%end%>  	
		
		var buyers_telephones_array = <%=@buyers_telephones.to_json%>;

		var buyers_array = new Array();
		var telephones_array = new Array();
		for (i=0; i<buyers_telephones_array.length; i++)
		{
			buyers_array[i] = buyers_telephones_array[i][0];
			telephones_array[i] = buyers_telephones_array[i][1];
		}

		
		$('#typeahead_buyer').typeahead({
			source:  function(item,query) {
				var select_buyers_array = new Array();
				buyer_index = 0;
				for (i=0; i<telephones_array.length; i++)
				{
					if (telephones_array[i].search(item) != -1)
					{
						select_buyers_array[buyer_index] = buyers_array[i];
						buyer_index += 1;
					}
				}
				for (i=0; i<buyers_array.length; i++)
				{
					if (buyers_array[i].search(item) != -1)
					{
						select_buyers_array[buyer_index] = buyers_array[i];
						buyer_index += 1;
					}
				}
				return select_buyers_array;
			},
			items: 20,
			updater: function(item) {
				return item;
			},
			matcher: function(item) {
				return true;
			}	
		});
		
		$('.date').datepicker({
			format: 'dd/mm/yyyy',
			weekStart: 1,
			language: 'uk',
			todayHighlight: true,
		}).on('changeDate', function(ev){$('.date').datepicker('hide');});
	


		<%if (@show_modal == 'show_add_modal')%>
			$('#add_order_modal').modal('show');
			$('#add_new_order_cencel').click(function(){
				window.location.href = '/orders';
			});
		<%end%>
		
		<%if (@show_modal == 'show_edit_modal')%>
			$.get("/edit_modal_form",
				{item: <%=@edit_item%>},
               	function(data) {$('#edit_order_modal .modal-body').html(data)}
            );
            //$('div').delegate('#edit_order_modal','shown', function (e) {
           	//	$('#edit_buyer').val("<%=session[:buyer_name]%>");
           	//});
            $('#edit_order_link').click();
			$('#edit_order_cencel').click(function(){
				window.location.href = '/orders';
			});
		<%end%>
		

		

     	$('#add_new_order_button').click(function() {
			if ($('#typeahead_buyer').val() == "")
			{
				alert ("Виберіть покупця зі списку за назвою чи телефоном, або додайте нового");
				return false;
			}

			if (jQuery.inArray($('#typeahead_buyer').val(), buyers_array) < 0)
			{
				alert ("Покупця '" + $('#typeahead_buyer').val() + "' не існує, додайте нового або виберіть зі списку");
				return false;
			}
			if ($('#input_article').val() == "")
			{
				alert ("Вкажіть товар");
				return false;
			}
			if ($('#input_amount').val() == "")
			{
				alert ("Вкажіть кількість");
				return false;
			}  

			if ($('#input_supplier').val().search(/^\d*\s*\.*\-*\d*$/) == -1)
			{
				alert ("Неможливо додати, назва складу повинна містити тільки цифри та знаки '.', '-'");
				return false;
			}
		});
		
		$('#edit_order_button').click(function() {
			if ($('#edit_buyer').val() == "")
			{
				alert ("Виберіть покупця зі списку за назвою чи телефоном, або додайте нового");
				return false;
			}

			if (jQuery.inArray($('#edit_buyer').val(), buyers_array) < 0)
			{
				alert ("Покупця '" + $('#edit_buyer').val() + "' не існує, додайте нового або виберіть зі списку");
				return false;
			} 
			if ($('#edit_article').val() == "")
			{
				alert ("Вкажіть товар");
				return false;
			}
			if ($('#edit_amount').val() == "")
			{
				alert ("Вкажіть кількість");
				return false;
			}  
			if ($('#edit_supplier').val().search(/^\d*\s*\.*\-*\d*$/) == -1)
			{
				alert ("Неможливо додати, назва складу повинна містити тільки цифри та знаки '.', '-'");
				return false;
			}
		});
			
		
		
		$('#add_order_modal').on('show', function (e) {
			$('#shown_modal').val("show_add_modal");
		});
			

		$("#add_buyer_button").click(function() {
			var send_form = true;
			if ($('#input_buyer').val() == "")
			{
				alert ("Вкажіть покупця");
				send_form = false;
				return false;
			}
			if ($('#input_telephone').val() == "")
			{
				alert ("Вкажіть номер телефону");
				send_form = false;
				return false;
			}
			
			if (jQuery.inArray($('#input_buyer').val(), buyers_array) >= 0)
			{
				alert ("Покупець '" + $('#input_buyer').val() + "' вже існує, неможливо додати.");
				send_form = false;
				return false;
			}
			
			var already_added_buyers_array = new Array();
			buyer_index = 0;
			for (i=0; i<telephones_array.length; i++)
			{
				if (jQuery.inArray($('#input_telephone').val(), telephones_array[i].split(/\s*,\s*/)) >= 0)
				{
					already_added_buyers_array[buyer_index] = buyers_array[i];
					buyer_index += 1;
				}
			}
						
			if (already_added_buyers_array.length == 1)
			{
				var confirm_telephone = confirm("Покупець '" + already_added_buyers_array + "' з номером телефона '" + $('#input_telephone').val() + "' вже існує, ви впевнені, що хочете додати ще одного?");
				if (confirm_telephone == false)
					send_form = false;
					return false;
			}
			
			if (already_added_buyers_array.length > 1)
			{
				var confirm_telephone = confirm("Покупці '" + already_added_buyers_array + "' з номером телефона '" + $('#input_telephone').val() + "' вже існують, ви впевнені, що хочете додати ще одного?");
				if (confirm_telephone == false)
				{
					send_form = false;
					return false;
				}	
			}
			
			if (send_form == true)
			{
				$.post(
					'/add_new_buyer',
					$('#add_new_buyer_form').serialize(),
					function(data) {
						buyers_array.push(data);
						if ($('#shown_modal').val() == "show_add_modal")
							$('#typeahead_buyer').val(data);
						if ($('#shown_modal').val() == "show_edit_modal")
							$('#edit_buyer').val(data);
						$('#add_buyer_cencel').click();
					}
				);
			} else {
				return false;
			}
			
		});
		
		$('#add_buyer_cencel').click(function(){
			$('#add_buyer_modal').modal('hide');
			if ($('#shown_modal').val() == "show_add_modal")
				$('#add_order_modal').modal('show');
			if ($('#shown_modal').val() == "show_edit_modal")
				$('#edit_order_modal').modal('show');
		});
				
		$('#add_buyer_button_in_order').click(function(){
			$('#add_order_modal').modal('hide');
			$('#add_buyer_link').click();
		});
			
		$("#orders_table").on('dblclick', 'tr', function (e) {
			$(this).addClass('trSelected');
			edit_order($(this));
		});
		
		
		$('#orders_excel_button').click(function() {
			if ($('#expected_receive_date_first').val() == "")
			{
				alert ("Вкажіть початкову дату");
				return false;
			}
			
			if ($('#expected_receive_date_second').val() == "")
			{
				alert ("Вкажіть кінцеву дату");
				return false;
			}
			
		
			var first_date_array = $('#expected_receive_date_first').val().match(/^(\d*)\/(\d*)\/(\d*)$/);
			var second_date_array = $('#expected_receive_date_second').val().match(/^(\d*)\/(\d*)\/(\d*)$/);
			
			var first_date = new Date(first_date_array[3],first_date_array[2]-1,first_date_array[1]);
			var second_date = new Date(second_date_array[3],second_date_array[2]-1,second_date_array[1]);

			
			if (first_date > second_date)
			{
				alert ("Кінева дата не може бути менша за початкову");
				return false;
			}
			
			var expected_receive_date_array = <%=@expected_receive_date_array%>;
			var check_date = false;
			for (i=0;i<expected_receive_date_array.length;i++)
			{
				if (expected_receive_date_array[i] != "")
				{
					expected_receive_date_array[i] = new Date(expected_receive_date_array[i]);
					
					if ((expected_receive_date_array[i] <= second_date) && (expected_receive_date_array[i] >= first_date))
					{
						check_date = true;
					}
				}
			}
			if (check_date == false)
			{	
				alert ("Замовлень з вказаним діапазоном дат планого отримання не існує");
				return false;
			}

		});
		
	
	});
	
	
	$(document).ajaxSuccess(function() {
	<%if @error_date_rows.empty? == false%>
		error_date();
	<%end%>
	});
	
	function error_date() {
		var error_date_rows_array = <%=@error_date_rows%>;
		for (i=0;i<error_date_rows_array.length-1;i++)
		{
			if ($('tr[id=row' + error_date_rows_array[i] + ']').length > 0)
			{
				$('tr[id=row' + error_date_rows_array[i] + ']').addClass('error_date');
				$('tr[id=row' + error_date_rows_array[i] + ']').attr( "title", "Увага! Дата планового отримання співпадає або менша за дату відвантаження." );
			}	
		}
	}

	function add_new_order(com, grid) 
	{	
		$('#add_order_link').click();
	}		
		
	function edit_order_in_table(com, grid)
	{
		edit_order($('.trSelected', grid));
	}

	function edit_order(edit_object) 
	{
		if (edit_object.length == '0')
		{
			alert('На вибрано жодного замовлення.');
		}
		else if (edit_object.length == '1')
		{
			var edit_item = edit_object.attr("id");
			
			$.get("/edit_modal_form",
               	{item: edit_item},
				function(data) {$('#edit_order_modal .modal-body').html(data)}
			);
			$('#edit_item').val(edit_item);
			$('#edit_order_link').click();
			$('#shown_modal').val("show_edit_modal");
		}
		else 
		{
			alert('Не можливо редагувати відразу декілька замовлень, виберіть, будь ласка, лише одне замовлення.');
		}			
	}
		
	function delete_selected_orders(com, grid)
	{
		if ($('.trSelected', grid).length == '0')
		{
			alert('На вибрано жодного замовлення');
		}
		else
		{
			var confirm_value = confirm('Ви впевнені, що хочете видалити вибрані замовлення?');
			if (confirm_value)
			{
				var items = $('.trSelected',grid);
                var itemlist = new Array();
				for(i=0;i<items.length;i++){
					itemlist[i] = items[i].id;	 	
				}
				$.get("/delete_orders",
					{items: itemlist},
					function(data){ location.reload();}
				);
			}
		}			
	}
		
	function buyer_list(com, grid) 
	{	
		window.location.href='/buyers'
	}
		
	function view_all_orders(com,grid)
	{
		var view_all_orders = <%=@view_all_orders[0]['value']%>
		if (view_all_orders == true)
			window.location.href = "/orders"
		else
			window.location.href = "/orders?view_all_orders=true"	
	}
	
	function excel_button_click(com, grid) 
	{	
		$('#excel_button_link').click();
	}	
		

</script>
<style>
	.modal {
		width: 760px;
		top: 5%;
		margin-left: -380px;
	}
	.modal.fade.in {
		top: 5%;
	}
	.modal-body {
		max-height: 450px;
	}
	.row-fluid.middle{
    	 display: table-cell;
		  vertical-align: bottom;
		  float: none;
	}
	.flexigrid div.pDiv2 {
		padding-left: 15%;
		font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
		font-size: 12px;
	}
	.rp_dropdown
	{
		height: 25px;
		width: 70px;
		padding: 2px;
	}
	.error_date
	{
		background-color: #EED3D7 !important;
	}
</style>
<%end%>

<%if (@show_modal == "") %>
	<%if (@buyers_telephones.length > 0) %>
		<h5>Список замовлень</h5>
		<table id="orders_table"></table>
	<%else%>
		<div class="alert alert-info" align="center"><strong>Немає жодного замовлення в базі даних</strong></div>
		<div align="center">
			<button class="btn btn-primary btn-large" type="button" onclick="$('#add_order_link').click();"><strong>Дотати нове замовлення</strong></button>
		</div>	
	<%end%>	
<%end%>

<a id="add_order_link" href="#add_order_modal" data-toggle="modal" hidden></a>
<a id="edit_order_link" href="#edit_order_modal" data-toggle="modal" hidden></a>
<a id="delete_order_link" href="#delete_order_modal" data-toggle="modal" hidden></a>
<a id="add_buyer_link" href="#add_modal_buyer" data-toggle="modal" hidden></a>
<a id="excel_button_link" href="#orders_excel_modal" data-toggle="modal" hidden></a>

<div id="add_order_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="add_modal_label">Нове замовлення</h3>
	</div>
	<div class="modal-body">
		<form id="add_new_order_form" action="/add_new_order" method="post" onsubmit="return validate_order_form()">      
			<div class="row-fluid">   
				<div class="span18 lightblue">
					<label>Виберіть покупця за назвою чи телефоном, або додайте нового</label>
					<input id="typeahead_buyer" name="typeahead_buyer" type="text" class="input-block-level" autocomplete="off" data-provide="typeahead" placeholder="Почніть вводити..." style="font-size: 12px;">
				</div>
				<div class="span6 lightblue">
					<label for="add_buyer_button_in_order">Новий покупець</label>
					<a id="add_buyer_button_in_order" class="btn span24">Додати</a>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span20 bgcolor">
					<label><%=Orders_table_headers['article']%></label>
					<input type="text" id="input_article" name="input_article" class="span24">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['amount']%></label>
					<input type="text" id="input_amount" name="input_amount" class="span24">
				</div>
			</div>

			<div class="row-fluid">
				<div class="span5 lightblue">
					<label><%=Orders_table_headers['supplier']%></label>
					<input type="text" id="input_supplier" name="input_supplier" class="span24">  
				</div>
				<div class="span5 bgcolor">
					<label><%=Orders_table_headers['inprice']%></label>
					<input type="text" id="input_inprice" name="input_inprice" class="span24">
				</div>
				<div class="span5 bgcolor">
					<label><%=Orders_table_headers['outprice']%></label>
					<input type="text" id="input_outprice" name="input_outprice" class="span24">
				</div>
				<div class="span4 bgcolor">
					<label><%=Orders_table_headers['status']%></label>
					<select id="input_status" class="span24" name="input_status">
						<option value="0"><%=Status_values_array[0]%></option>
						<option value="1" selected="selected"><%=Status_values_array[1]%></option>
					</select>
				</div>
				<div class="span5 bgcolor">
					<label><%=Orders_table_headers['expected_receive_date']%></label>
					<div class="row-fluid input-append date"  data-date-format="dd/mm/yyyy">
						<input id="expected_receive_date" name="expected_receive_date" class="input-block-level span19" type="text" autocomplete="off" readonly>
						<div class="add-on">
							<div align="center"><i class="icon-calendar"></i></div>	
						</div>
					</div>	
				</div>
			</div>
			<div class="row-fluid">
				<div class="span24">
					<label><%=Orders_table_headers['order_notes']%></label>
					<textarea type="text" id="input_order_notes" name="input_order_notes" class="span24" rows="2"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button id="add_new_order_cencel" class="btn" data-dismiss="modal" aria-hidden="true">Відмінити</button>
		<button id="add_new_order_button" form="add_new_order_form" class="btn btn-primary">Зберегти</button>
		
	</div>
</div>

<div id="add_modal_buyer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="add_modal_label_buyer">Новий замовник</h3>
	</div>
	<div class="modal-body">
		<form id="add_new_buyer_form" action="/add_new_buyer" method="post">      
			<div class="row-fluid">   
				<div class="span8">
					<label for="input_buyer"><%=Buyers_table_headers['buyer']%></label>
					<input type="text" id="input_buyer" name="input_buyer" class="span24">  
				</div>
				<div class="span16">
					<label for="input_fullname"><%=Buyers_table_headers['fullname']%></label>
					<input type="text" id="input_fullname" name="input_fullname" class="span24">  
				</div>
			</div>
			<div class="row-fluid">   
				<div class="span8">
					<label for="input_telephone"><%=Buyers_table_headers['telephone']%></label>
					<input type="text" id="input_telephone" name="input_telephone" class="span24">  
				</div>
				<div class="span8">
					<label for="input_city"><%=Buyers_table_headers['city']%></label>
					<input type="text" id="input_city" name="input_city" class="span24">  
				</div>
				<div class="span8">
					<label for="input_contact_person"><%=Buyers_table_headers['contact_person']%></label>
					<input type="text" id="input_contact_person" name="input_contact_person" class="span24">  
				</div>
			</div>
			<div class="row-fluid">
				<div class="span24">
					<label><%=Buyers_table_headers['buyer_notes']%></label>
					<textarea type="text" id="input_buyer_notes" name="input_buyer_notes" class="span24" rows="2"></textarea>
				</div>
			</div>
			<input id="shown_modal" name="shown_modal" type="hidden" value="">
			<input id="edit_item" name="edit_item" type="hidden" value="">
		</form>
	
	</div>
	<div class="modal-footer">
		<button id="add_buyer_cencel" class="btn" data-dismiss="modal" aria-hidden="true">Відмінити</button>
		<input id="add_buyer_button" form="add_new_buyer_form" class="btn btn-primary" value="Зберегти">
	</div>
</div>

<div id="edit_order_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="edit_modal_label">Редагувати замовлення</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<button id="edit_order_cencel" class="btn" data-dismiss="modal" aria-hidden="true">Відмінити</button>
		<button id="edit_order_button" form="edit_order_form" class="btn btn-primary">Зберегти</button>
		
	</div>
</div>

<div id="orders_excel_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Зберегти замовлення у Excel-файл</h3>
	</div>
	<div class="modal-body">
		<form id="orders_excel_form" action="/orders_excel" method="post">
			<div class="row-fluid">
				<div class="offset1 span23">
					<h5>Виберіть діапазон дат планового отримання товару</h5>
				</div>
			</div>
			<div class="row-fluid">   
				<div class="offset1 span6">
					<label>Початкова дата</label>
					<div class="row-fluid input-append date"  data-date-format="dd/mm/yyyy">
						<input id="expected_receive_date_first" name="expected_receive_date_first" class="input-block-level span19" type="text" autocomplete="off" readonly>
						<div class="add-on">
							<div align="center"><i class="icon-calendar"></i></div>	
						</div>
					</div>	
				</div>

				<div class="span6">
					<label>Кінцева дата</label>
					<div class="row-fluid input-append date"  data-date-format="dd/mm/yyyy">
						<input id="expected_receive_date_second" name="expected_receive_date_second" class="input-block-level span19" type="text" autocomplete="off" readonly>
						<div class="add-on">
							<div align="center"><i class="icon-calendar"></i></div>	
						</div>
					</div>	
				</div>
			</div>
			<input id="view_all_orders" name="view_all_orders" type="hidden" value="<%=@view_all_orders[0]['value']%>">
		</form>
	
	</div>
	<div class="modal-footer">
		<button id="orders_excel_cencel" class="btn" data-dismiss="modal" aria-hidden="true">Відмінити</button>
		<input id="orders_excel_button" type="submit" form="orders_excel_form" class="btn btn-primary" value="Зберегти у Excel-файл">
	</div>
</div>


