<% content_for :head do %>
	<script type="text/javascript">

	$(document).ready(function() {
		$("#select_items_table").flexigrid({
			url: '/table_selected_items',
			dataType: "json",
			colModel : [
				<%if @admin_select_items_page == true%>
				{display: "<%=Price_table_headers['brand']%>", name : 'brand', width : 100, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['family']%>", name : 'family', width : 120, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['dimensiontype']%>", name : 'dimensiontype', width : 100, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['sidewall']%>", name : 'sidewall', width : 55, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['origin']%>", name : 'origin', width : 55, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['runflat']%>", name : 'runflat', width : 50, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['productiondate']%>", name : 'productiondate', width : 40, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['season']%>", name : 'season', width : 40, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['remain']%>", name : 'remain', width : 50, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['supplier']%>", name : 'supplier', width : 45, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['suppliercomment']%>", name : 'suppliercomment', width : 80, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['rp']%>", name : 'rp', width : 80, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['bp']%>", name : 'bp', width : 70, sortable : true, align: 'left', hide: true},
				{display: "<%=Price_table_headers['sp']%>", name : 'sp', width : 65, sortable : true, align: 'left', hide: true},
				{display: "<%=Price_table_headers['bpvat']%>", name : 'bpvat', width : 75, sortable : true, align: 'left', hide: true},
				{display: "<%=Price_table_headers['actualdate']%>", name : 'actualdate', width : 70, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['sourcestring']%>", name : 'sourcestring', width : 600, sortable : true, align: 'left'}
				<%else%>
				{display: "<%=Price_table_headers['brand']%>", name : 'brand', width : 150, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['family']%>", name : 'family', width : 180, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['dimensiontype']%>", name : 'dimensiontype', width : 150, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['origin']%>", name : 'origin', width : 100, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['productiondate']%>", name : 'productiondate', width : 40, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['season']%>", name : 'season', width : 40, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['remain']%>", name : 'remain', width : 50, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['suppliercomment']%>", name : 'suppliercomment', width : 150, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['bp']%>", name : 'bp', width : 100, sortable : true, align: 'left'},
				{display: "<%=Price_table_headers['actualdate']%>", name : 'actualdate', width : 70, sortable : true, align: 'left'}
				<%end%>	
			],
			params: <%=@checked_array.to_json%>,			
			sortname: "rp",
			sortorder: "asc",
			usepager: true,
			useRp: true,
			rp: 100,
			showTableToggleBtn: true,
			width: setWidth(),
			height: setHeight()
		});
		
		$('#back_button').click(function(){
			parent.history.back();
			return false;
		});
		
		<%if @admin_select_items_page == true%>
		$('.nav').delegate('#show_columns','click', function (e) {
			$('tr td[class="ndcol1"] input[value="12"]').parents('tr').children('td.ndcol2').click();	
			$('tr td[class="ndcol1"] input[value="13"]').parents('tr').children('td.ndcol2').click();
			$('tr td[class="ndcol1"] input[value="14"]').parents('tr').children('td.ndcol2').click();
			
			if ($('td[class="ndcol1"] input[value="12"]').is(':checked') && $('td[class="ndcol1"] input[value="13"]').is(':checked') && $('td[class="ndcol1"] input[value="14"]').is(':checked'))
				$("#show_columns").text("Неповний каталог");
			else
				$("#show_columns").text("Повний каталог");
		});
		<%end%>
		
		var itemlist = new Array();
		$("#select_items_table").delegate('tr','click', function (e) {
			if ($(this).hasClass("trSelected") == true)
				itemlist.push($(this).attr("id"));
			else
				itemlist.pop();
			if (itemlist.length == 0)
			{
				$("#excel_button").find("strong").text("Зберегти все у Excel-файл (спрощений)");
				$("#advanced_excel_button").find("strong").text("Зберегти все у Excel-файл (розширений)");
			} else { 
				$("#excel_button").find("strong").text("Зберегти вибране у Excel-файл (спрощений)");
				$("#advanced_excel_button").find("strong").text("Зберегти вибране у Excel-файл (розширений)");
			}	
		});
		
		$("#excel_button").click(function(){
			if (itemlist.length == 0)
				$("#excel_button_selected").val("");
			else
				$("#excel_button_selected").val(itemlist);
			$("#advanced_excel_print").val("false");	
		});
		
		$("#advanced_excel_button").click(function(){
			if (itemlist.length == 0)
				$("#excel_button_selected").val("");
			else
				$("#excel_button_selected").val(itemlist);
			$("#advanced_excel_print").val("true");	
		});
		
	});
	

		function setHeight(){
			var value_height = $(window).height() - $("#filter_form").outerHeight(true) - 200;
			return value_height
		}

		function setWidth(){
			return $("#content").width() - 10;
		}

	</script>
	<style>
		body {	
			font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
			font-size: 12px;
		}

		.flexigrid div.pDiv2 {
			padding-left: 15%;
			font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
			font-size: 12px;
		}
		.wrap_value{ 
			white-space: nowrap; 
			overflow: hidden; 
			text-overflow: ellipsis; 
	   	}
	   	.rp_dropdown
		{
			height: 25px;
			width: 70px;
			padding: 2px;
		}
	   	.span3 { margin-left: 1%; }

		.row-fluid .span21, .row-fluid .span22 {
			min-height: 0px;
		}
		.row-fluid .span3, .row-fluid .span2{
			min-height: 0px;
			cursor: pointer;
		}
		.span4 .input-append{
			cursor: pointer;
		}
		#show_columns{
			cursor: pointer;
		}
		.back_button{
			margin-top: 10px;
		}
		
	</style>
<%end%>

		<%if @show_table%>
			<table id="select_items_table"></table>
		<%else%>
			<div id="message_id" class="alert alert-info" align="center">
				<strong><%=@message%></strong>
    		</div>
		<%end%>
		<div class="row-fluid">
			<div class="back_button span24" align="center">
				<form action="/excel_file" method="POST">
					<button class="btn" id="back_button" ><i class="icon-arrow-left"></i> <strong>Повернутися до фільтру</strong></button>
					<button class="btn" id="excel_button" type="submit"><i class="icon-file"></i><strong> Зберегти все у Excel-файл (спрощений)</strong></button>
					<button class="btn" id="advanced_excel_button" type="submit"><i class="icon-file"></i><strong> Зберегти все у Excel-файл (розширений)</strong></button>
					<input type="hidden" id="excel_button_all" name="excel_button_all" value='<%=@checked_array.to_json%>'>
					<input type="hidden" id="excel_button_selected" name="excel_button_selected" value="">
					<input type="hidden" id="advanced_excel_print" name="advanced_excel_print" value="">
				</form>	
			</div>
		</div>
